/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

.auth-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    background-color: #009688;
    width: 32px;
    height: 7px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 80px;
  }
}
