@keyframes filter-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-filter-in {
  z-index: 999;
  animation: filter-in 0.2s ease-out forwards;
}
